:root {
  font: 16px/150% system-ui, -apple-system, 'Segoe UI', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100svh;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

input, select, button {
  font-family: inherit;
}
